<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <img src="/assets/scan.jpeg" alt="" />
    <ion-card-header>
      <ion-card-subtitle>Get Started</ion-card-subtitle>
      <ion-card-title> QR Code </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Here we can scan a Qr code or Barcode to get data</p>
    </ion-card-content>
    <ion-button expand='block' margin (click)="goToQrScan()">Click to scan a QR</ion-button>
    <div *ngIf="scannedData">
      <p>
        Scanned Code Text : <b>{{ scannedData["text"] }}</b>
      </p>
      <p>
        Scanned Code Format : <b>{{ scannedData["format"] }}</b>
      </p>
    </div>
  </ion-card>

  <ion-card>
    <h1>Enter Value to Create QR code</h1>
    <ion-input type="text" [(ngModel)]="encodedData"></ion-input>

    <ion-button (click)="goToCreateCode()">
      Create QR
    </ion-button>
  </ion-card>

  <ion-button type="submit" (click)="authService.SignOut()" expand="block">Logout</ion-button>
</ion-content>