#t1{
    font-family: 'Redressed';
    color: #42d77d;
    text-align: center;
    font-size: 200%;
    padding-bottom: 10%;
    padding-top: 15%;
}
#t2{
    font-size: 85%;
    padding-bottom: 5%;
    color: var(--ion-color-medium);
    text-align: left;
}
#scanb{
    --background: var(--ion-color-success-tint);
    text-transform: none;
}