<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <img src="/assets/scan.jpeg" alt="" />
    <ion-card-header>
      <ion-card-subtitle>ClothTech</ion-card-subtitle>
      <ion-card-title> Code </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Scan </p>
    </ion-card-content>
    <ion-button expand='block' margin (click)="scan()">Click to scan</ion-button>
    <div *ngIf="scannedData">
      <p>
        Scanned Code Text : <b>{{ scannedData["text"] }}</b>
      </p>
      <p>
        Scanned Code Format : <b>{{ scannedData["format"] }}</b>
      </p>
    </div>
  </ion-card>


  <ion-button type="submit" (click)="authService.SignOut()" expand="block">Logout</ion-button>
</ion-content>