<ion-header>
</ion-header>

<ion-content>
  <ion-grid content-align-center id="grid1">
    <ion-title id="t1">ClothTech</ion-title>
    <ion-title id="t2">What are you gonna scan this time?</ion-title>
  
    <ion-card class="welcome-card">
      <ion-card-content>
        <ion-img src="../../assets/scan1.png" alt=""></ion-img>
      </ion-card-content>
      <ion-button id="scanb" expand='block' margin (click)="scan()">Go!</ion-button>
      <div *ngIf="scannedData">
        <p>
          Scanned Code Text : <b>{{ scannedData["text"] }}</b>
        </p>
        <p>
          Scanned Code Format : <b>{{ scannedData["format"] }}</b>
        </p>
      </div>
    </ion-card>
  
  
    <ion-button type="submit" (click)="authService.SignOut()" expand="block">Logout</ion-button>
  </ion-grid>
</ion-content>