<ion-header>
</ion-header>

<ion-content padding>
  <ion-grid content-align-center>
    <ion-title id="t1">Sign Up</ion-title>
    <ion-title id="t2">Be the change!</ion-title>
    <form>    
      <ion-item lines="full">
        <ion-label position="floating">Email</ion-label>
        <ion-input type="text" #email required></ion-input>
      </ion-item> 
  
      <ion-item lines="full">
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" #password required></ion-input>
      </ion-item>
      <ion-row>
        <ion-title>asd</ion-title>
      </ion-row>
      <ion-row>
        <ion-col> 
        <ion-button id="signapb" type="submit" (click)="signUp(email, password)" expand="block">Register</ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>
  <ion-grid id="logingrid">
    <ion-row>
      <ion-col>
        <ion-button shape="round" round id="login" text-align="center" href="login" fill="clear">
          Log in!
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>