
ion-grid{
    padding-left: 10%;
    padding-right: 10%;
}
#t1{
    color: var(--ion-color-success-tint);
    text-align: left;
    font-size: 150%;
    padding-bottom: 5%;
}
#t2{
    text-align: left;
    font-size: 100%;
    padding-bottom: 5%;
    color: var(--ion-color-medium);
}
#grid1{
    padding-top: 30%;
    padding-bottom: 30%;
    text-align: center;
}
#loogin{
    text-transform: none;
    --background: #42d77d;
}
#glogin{
    text-transform: none;
}
#signapgrid{
    text-align: center;
}
#signap{
    color: var(--ion-color-success-tint);
    text-transform: none;
}