<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Hello World
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card class="welcome-card">
    <ion-img src="/assets/shapes.svg"></ion-img>
    <ion-card-header>
      <ion-card-subtitle>I am just getting started</ion-card-subtitle>
      <ion-card-title>Welcome to My World</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>I can modify my app as I like, muhahahahaha !</p>
    </ion-card-content>
  </ion-card>
</ion-content>